@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sansita+Swashed:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rubik", sans-serif;
  --font-special: "Sansita Swashed", system-ui;

  --color-base: #14161A;
  --color-accent-1: #D7D0AB;
  --color-accent-2: #716D5A;
  --color-fg: #FFFDF4;

  --shadow-main: 0 0 6px 1px rgba(215, 208, 171, .25);
  --shadow-main-sm: 0 0 4px 1px rgba(215, 208, 171, .15);
}

body {
  background-color: var(--color-base);
  color: var(--color-fg);
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-accent-2/15;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent-2/25 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-2/50;
}